body {
	background: $background;
}

h3, h4 {
  color: white;
}

.container {
  padding-bottom: 100px;
}
.higher {
  color: $red;
}
.lower {
  color: $green;
}

.btn-basic {
  border: 1px solid $light-gray;
  border-radius: 5px;
}

#container-posts-index {
  margin-top: 24px;
}
