h4 {
  color: $laranja;
}

h4.reputation1 {
  padding: 13px 15px 4px 15px;
}

h4.reputation2 {
  padding: 4px 15px 13px 15px;
}

.reputacao-info {
  background-color: $table-color;
  margin-top: 31px;
  box-shadow: 0 8px 6px -6px black;
  border-radius: 5px;
  padding-bottom: 1px;
  padding-left: 8px;
  padding-top: 4px;
  border-top: solid 1px white;
}

@media (max-width: 1200px) {
  h4 {
    font-size: 20px;
  }
}
@media (max-width: 990px) {
  h4 {
    font-size: inherit;
  }
}

#nome-usuario {
  border-bottom: 2px solid lightgray;
}
