

.btn-outline-success {
	font-size: 30px;
}

.order-status {
	color: #aa9483;
	font-size: 15px;
}

.ordem-text {
	color: $laranja;	
}

.show-part-container {
	margin-top: 24px;
}

.text-left-chave {
	color: $laranja;
	text-align: left;
}