

.btn-outline-success {
	font-size: 30px;
}

.order-status {
	color: #aa9483;
	font-size: 15px;
}

.ordem-text {
	color: $laranja;	
}

.show-part-container {
	margin-top: 24px;
}

.text-left-chave {
	color: $laranja;
	text-align: left;
}

.show-part-container-reputation {
	background: $navbar;
	margin-top: 24px;
	box-shadow: 0 8px 6px -6px black;
	border-radius: 5px;


}