<div class="footer">
  <div class="footer-links">
    <span id="about">
    <%= link_to "About", "http://www.reverso.net/"%> <a>|</a> <%= link_to "Contact", "http://www.reverso.net/"%>
    </span>
    <span id="social-networks">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
    </span>
    

</div>
  
<!--MUDAR OS URL LINKS-->
 

  <hr>

  <div class="footer-copyright">
    Cryptomarket P2P - all right reserved - 2018
  </div>

</div>