
    <div class="sale-button"><button type="button" class="btn btn-outline-success"><%= link_to 'Confirmar', @order,
    method: :patch,
    data: { confirm: "Essa ordem foi completa?" } %> </button></p>
    </div>
    </div>
    <hr>
    <div class="order-status"> Order status : <%= @order.status %>
    </div>
  </div>

  <div class="show-actions-container">

    <button type="button" class="btn btn-outline-warning">
    <%= link_to 'Cancelar ordem', @order,
  method: :delete,
  data: { confirm: "Cancelar essa order?" } %>
  <% if policy(@order).update? %>
  <% end %>
  </button>
  </div>



<!-- <li><%= link_to 'Anuncio', @order.post %></li> -->
