
    <div class="banner">
      <div class="banner-content">
        <h1><div class="welcome-title">Bem-vindo ao</div>Cryptomarket P2P !</h1>
        <p>Negocie criptomoedas de forma <span id="span">rápida</span>,<span id="span"> prática</span> <span>e </span><span id="span">segura</span>.</p>
        <a class="btn-comprar">Comprar</a>
        <a class="btn-vender">Vender</a>
      </div>
    </div>