<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>

<% if policy(@post).destroy? %>
  <%= link_to "Delete", @post,
            method: :delete,
            data: { confirm: "Are you sure?" } %>
<% end %>
