.btn-banner {
  color: $black;
  padding: 15px 15px;
  border-radius: 15px;
  border-style: ridge;
  font-weight: bold;
  font-size: 20px;
  background: #343a40;
}

#btn-comprar:hover {
  opacity: 1;
  background: #3ac162;
  text-decoration: none;
  color: white;
}

#btn-vender:hover {
  opacity: 1;
  background: #ff3333;
  text-decoration: none;
  color: white;
}
