.nav-link i {
  color: #ff6600;
}

.navbar-main {
  li {
    margin-left: 10px;
    margin-right: 10px;

    &:before {
      padding-right: 20px;
      color: white;
    }
  }
}

.navbar-brand {
  border-right: 2px solid white;
  margin: 0;
  padding-right: 10px;
}
