th {
  color: $laranja;
}

tr {
  border: 2px solid lightgray;
}

.table {
  background-color: #233142;
  border-radius: 5px;
  color:white;
}

thead tr {
  border: 2px solid $laranja;
}
tbody tr:first-child {
  border-top: 2px solid $laranja;
}
