th {
  color: $laranja;
}

tr {
  border: 2px solid gray;
}

.table {
  background-color: #233142;
  border-radius: 5px;
  color:white;
  border: 2px solid gray;
}

#table-head {
  border: 2px solid $laranja;
}
